.jc-cont {
  cursor: default;
  height: auto;
  min-height: 700px;
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 30px 0;
  align-items: flex-end;
}
.jc-left,
.jc-right {
  width: 45%;
  display: flex;
  align-items: flex-end;
}

.jc-left img {
  width: 100%;
  max-width: 582px;
}

.jc-right {
  min-height: 484px;
  height: auto;
  padding: 64px 0 64px 0;
  justify-content: space-between;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
}

.jc-right-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.jc-head-col {
  background: var(
    --linear-gradient-upskill,
    linear-gradient(94deg, #49d043 57.76%, #ffb912 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jc-head {
  color: #fff;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.68px;
}

.jc-text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}

.jc-cta {
  cursor: pointer;
  border-radius: 500px;
  background: linear-gradient(94deg, #fbb913 5.82%, #4dcf41 94.4%);
  box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.25) inset,
    0px -3px 0px 0px rgba(33, 44, 28, 0.25) inset,
    0px 0px 0px 12px rgba(255, 255, 255, 0.05),
    0px 0px 64px -16px rgba(99, 177, 87, 0.8);
  display: flex;
  padding: 24px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #212e20;
  text-align: center;
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.4px;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}

.jc-cta:hover {
  transform: scale(1.1);
}
.jc-cta::before {
  content: "";
  background: rgba(255, 255, 255, 0.25);

  width: 40px;
  height: 100%;
  top: 0%;
  left: -25%;
  transform: skew(-45deg);
  position: absolute;
  transition: all 2s;
}

.jc-cta:hover::before {
  left: 110%;
}
@media screen and (max-width: 1000px) {
  .jc-cont {
    height: auto;
    min-height: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 30px 0;
    align-items: flex-end;
  }
  .jc-left,
  .jc-right {
    width: 45%;
    display: flex;
    align-items: flex-end;
  }

  .jc-left img {
    width: 100%;
    max-width: 582px;
  }

  .jc-right {
    min-height: 0;
    height: auto;
    padding: 0;
    justify-content: flex-end;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
  }

  .jc-right-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
  }

  .jc-head {
    color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  .jc-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
  }

  .jc-cta {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #212e20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.4px;
  }
}
@media screen and (max-width: 600px) {
  .jc-cont {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .jc-left,
  .jc-right {
    width: 95%;
    display: flex;
    align-items: flex-end;
  }
  .jc-left {
    justify-content: center;
  }
  .jc-right {
    min-height: 0;
    height: auto;
    padding: 30px 0;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }

  .jc-right-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .jc-left img {
    width: 80%;
    max-width: 582px;
  }

  .jc-head {
    color: #fff;
    font-family: Montserrat;
    font-size: clamp(29px, 2.5vw, 34px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.68px;
  }

  .jc-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.4px;
  }

  .jc-cta {
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;

    font-size: 18px;
  }
}
